* {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: url(../img/bg22.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #2a2b2e;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
}

header {
    position: fixed;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #232121c3;

}

header #title img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    margin: 40px 0;
}

header h1, header p {
    padding-left: 10px;
}

header h1 {
    font-size: 1.2rem;
}

#burger {
    display: none;
}

#burger-label {
    display: none;
}

section {
    min-height: 100vh;
}

#links {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#links li {
    list-style-type: none;
    padding: 12px 20px;
}

#links li:hover {
    background-color: #0e0f0e;
}

#links a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}

#title {
    height: 300px;
    padding: 10px;
}

#copyright {
    height: 35px;
    padding: 10px;
}

#container {
    display: block;
    margin-left: 275px;
    padding: 100px;
}

#hey {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text1 {
    color: #FFFFFF;
    padding: 15px;
    font-size: 3vw;
}

.text2 {
    padding: 15px;
    font-size: 2vw;
    color: #CCCCCC;
}

blockquote {
    font-size: 1vw;
    color: #FFB6C1;
    padding: 15px;
    font-style: italic;
}

.text4 {
    font-size: 0.8vw;
    color: #ffffff4f;
}

#about {
    display: block;
}

section h2 {
    font-size: 3vw;
    padding-top: 10vh;
    margin-bottom: 10vh;
}

.me {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
    margin-bottom: 60px;
    gap: 20px;
}

.pic2 {
    background: linear-gradient(135deg,#f28907 50%,#e7e5e4 0);
    border-color: #4E9F3D;
    background-position-x: right;
    background-size: 280%;
    transition: all .7s ease-in-out;
}

.pic2:hover {
    background-size: 100%;
    padding: 5px;
}

.me p {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 1rem;
}

.btn {
    background-color: #4E9F3D;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

.download-link {
    text-align: center;
}

.btn:hover {
    color: #1E5128;
}

#projects-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.project {
    height: 276px;
    width: 23vw;
    overflow: hidden;
    position: relative;
}

.project img {
    width: 24vw;
    margin-bottom: 10px;
    position: relative;
}

.project .tooltip {
    display: none;
    background-color: #0e0f0e;
    opacity: 0.9;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 276px;
    width: 24vw;
}

.project:hover .tooltip {
    display: block;
}

.project .tooltip p {
    top: 40%;
    position: relative;
    line-height: 30px;
}

.project .tooltip a:hover {
    font-weight: bold;
}

#contact-body {
    display: flex;
    justify-content: start;
    gap: 3vw;
}

#formation-body {
    font-size: 2rem;
    font-style: italic;
    font-family: 'Handwriting', sans-serif;;
    text-align: center;
}

#contact-form input, #contact-form textarea, #contact-form button {
    display: block;
    border: none;
    height: 50px;
    margin-top: 1vw;
    opacity: 0.50;
    background-color: rgb(220, 224, 212);
    font-size: 1.1rem;
    padding-left: 20px;
}

#personal-info {
    display: flex;
    gap: 1vw;
}

#personal-info input{
    width: 19.5vw;
}


#contact-form .fullwidth {
    width: 40vw;
}

#contact-form textarea.fullwidth {
    height: 200px;
}

#contact-form button.fullwidth {
    background-color: #191A19;
    color: #FFFFFF;
    opacity: 0.90;
}

#contact-form button.fullwidth:hover {
    background-color: #0e0f0e;
}

#additional-info .row  {
    background-color: #0e0f0e;
    color: #818a67;
    padding: 20px;
    margin-top: 20px;
    width: 30vw;
    display: flex;
    gap: 30px;

}

#additional-info a {
    color: #FFFFFF;
    text-decoration: none;
}

#additional-info a:hover {
    color: #818a67;
}

#additional-info img.icon {
    width: 50px;
    height: auto;
}

#additional-info li {
    display: inline-block;
}

.social-icons img {
    width: 40px;
}

.social-icons ul {
    margin-top: 10px;
}

.social-icons ul li {
    margin-right: 10px;
}

#skills ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20vh;
}

#skills ul li {
    list-style-type: none;
}

#skills img {
    width: 100px;
}

#skills img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

@media (max-width: 768px) {
    #burger-label {
        display: block;
        position: fixed;
        z-index: 1;
        left: 0px;
        transition: left 1s ease;
    }

    #burger-label img {
        width: 30px;
    }

    #burger:checked~header {
        left: 0px;

    }

    #burger:checked~#burger-label {
        left: 250px;
    }

    header {
        display: flex;
        left: -250px;
        /* Animation */
        transition: left 1s ease;
    }

    #copyright {
        height: 35px;
        padding: 10px;
    }

    #container {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding: 20px;

    }

    .text1 {
        color: #FFFFFF;
        padding: 15px;
        font-size: 8vw;
    }

    .text2 {
        padding: 15px;
        font-size: 6vw;
    }

    blockquote {
        font-size: 4vw;
        color: #FFB6C1;
        padding: 15px;
        font-style: italic;
    }

    .text4 {
        font-size: 3vw;
        color: #ffffff4f;
    }

    .me {
        display: block;
        text-align: center;
    }

    .btn {
        font-size: 16px;
        margin-left: 110px;
    }

    .pic2 {
        padding: 0;
        width: 300px;
        height: auto;
    }

    h2 {
        text-align: center;
        font-size: 6vw;
        margin-top: 15px;
    }

}